{% extends 'layouts/base.html' %}

{%block heading%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('election.home')}}"><img class="card-img-top"
                                                                          src="static/assets/images/\Blockchain.png"
                                                                          alt="Card image cap" style="max-width: 7rem;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
<h1>
    SIGNUP PAGE
</h1>

<form method="POST" action="">
    {{form.hidden_tag()}}
    {{form.username}}
    {{form.password}}
    {{form.address}}
    {{form.key}}
    {{form.submit}}
</form>


{%endblock%}